@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@400;600&display=swap");

/* Añadimos esto para forzar a Vite a centrar nuestro proyecto */
#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  background-color: #121212;
  color: #e8e8e8;
  font-family: "Outfit", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh; /* Ocupa todo el alto de la pantalla */
  align-items: flex-start;
  padding-top: 60px;
}

.contenedor-principal {
  background-color: #1e1e1e;
  padding: 40px;
  border-radius: 12px;
  border: 2px solid #333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
  width: 450px;
  max-width: 90vw;
  margin: 0 auto; /* Esto garantiza el centrado horizontal */
}

.titulo {
  color: #f6d860;
  text-align: center;
  margin-top: 0;
  border-bottom: 3px double #f6d860;
  padding-bottom: 15px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem; /* Un pelín más grande */
  letter-spacing: 4px;
  font-weight: normal;

  /* Aquí está la magia de la superposición legible */
  line-height: 0.85;
  text-shadow:
    3px 3px 0px #1e1e1e,
    /* Borde del color del fondo para separar letras */ 6px 6px 10px
      rgba(0, 0, 0, 0.9); /* Sombra oscura para dar profundidad */
}

.controles {
  display: flex;
  gap: 12px;
  margin-bottom: 45px;
}

.input-pelicula {
  flex: 1;
  padding: 12px 15px;
  background-color: #2a2a2a;
  border: 2px solid #444;
  color: #f6d860;
  border-radius: 6px;
  font-family: "Outfit", sans-serif;
  font-size: 1.25rem;
  transition: border-color 0.3s;
}

.input-pelicula::placeholder {
  color: #777;
}

.input-pelicula:focus {
  outline: none;
  border-color: #f6d860;
  background-color: #222;
}

.btn-agregar {
  background-color: #f6d860;
  color: #121212;
  border: 2px dashed #121212;
  padding: 10px 20px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-agregar:hover {
  background-color: #ffe680;
  transform: scale(1.05);
}

.tarjeta-pelicula {
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-left: 5px solid #444;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
  font-size: 1.1rem;
}

.tarjeta-pelicula:hover {
  transform: translateX(8px);
  border-left-color: #f6d860;
  background-color: #333;
}

.tarjeta-pelicula.favorita {
  background-color: #2a2510;
  border-color: #f6d860;
  border-left: 5px solid #f6d860;
  color: #f6d860;
}
